.title {
  font-weight: bolder;
}

:host ::ng-deep th {
  background: white !important;
}

:host ::ng-deep td {
  background: white !important;
}

.pi-red {
  background-color: darkred;
}

td.tbs-rightalign1 > tr{
  text-align: right;
  color: red !important;
}
