<span class="alert">{{errorMsg}}</span>
<span class="info">{{infoMsg}}</span>
<div class="container page">

  <div class="row text-center">
    <div class="col-12">
      <h1 class="page-title">The Better Store</h1>
    </div>
  </div>

  <p class="top-buffer">
    The Better Store is an open-source eCommerce solution, which also aims to showcase
    modern technologies and design methods, and serve as an educational tool for the creation of scalable Cloud-based software on AWS.
  </p>

  <h5 class="top-buffer title">Today's Specials!</h5>

  <div *ngIf="(selectedCategory=='BOOKS')" class="top-buffer">
    <p-table *ngIf="!isLoading" #dt [columns]="bookCols" [value]="products"
             rows="{{pageSize}}" [paginator]="true" [rowsPerPageOptions]="rowsPerPageList">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of bookCols"  pResizableColumn [style.width]="col.width" >
            {{col.header}}
          </th>
        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-rec let-sel>
        <tr [pSelectableRow]="sel">
          <td>
            <a routerLink="{{rec.productId}}" >
              <img src="{{rec.smallImageUrl}}" width="50rem" height="50rem"/>
            </a>
          </td>
          <td>
            <a routerLink="{{rec.productId}}">
              {{rec.name}}
            </a>
          </td>
          <td>{{rec.bookDetails.authors}}</td>
          <td>{{rec.bookDetails.genre}}</td>

          <td class="rightalign">{{rec.price | number : '1.2-2'}}</td>

        </tr>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="(selectedCategory=='COMPUTERS')" class="top-buffer">
    <p-table *ngIf="!isLoading" #dt [columns]="computerCols" [value]="products"
             rows="{{pageSize}}" [paginator]="true" [rowsPerPageOptions]="rowsPerPageList">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of computerCols"  pResizableColumn [style.width]="col.width" >
            {{col.header}}
          </th>
        </tr>

      </ng-template>

      <ng-template pTemplate="body" let-rec let-sel>
        <tr [pSelectableRow]="sel">
          <td>
            <a routerLink="{{rec.productId}}" >
              <img src="{{rec.imageUrl}}" width="50rem" height="50rem"/>
            </a>
          </td>
          <td>
            <a routerLink="{{rec.productId}}" >
              {{rec.name}}
            </a>
          </td>
          <td>{{rec.brandId}}</td>

          <td class="rightalign">{{rec.price | number : '1.2-2'}}</td>

        </tr>
      </ng-template>
    </p-table>
  </div>

</div>

<p-progressSpinner *ngIf="isLoading" class="tbs-center"></p-progressSpinner>
<p-toast position="center" class="custom-toast"></p-toast>
<p-confirmDialog header="Warning" icon="pi pi-exclamation-triangle"></p-confirmDialog>
