<div class="container pages text-justify pb-5 top-buffer">

  <div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h2>About "The Better Store"</h2>
        </div>
        <div class="card-body">
          <div class="card-title">
            The Better Store is a collaborative open-source project for demonstrating the design and implementation of a
            global, flexible, scalable and highly-available eCommerce platform in The Cloud, using Cloud Native
            best practices. Refer to our <a href="https://docs.thebetterstore.net">Documentation site</a>
            for further information.
          </div>


          <h5 class="top-buffer-x2">Contributors</h5>
          <div class="row top-buffer">
            <div class="col-3">
              Bryce Cummock
            </div>
            <div class="col-9">
              Bryce is a Senior Consultant at Servian (NZ), where he specialises in AWS Cloud-based integration solutions for clients.
              Bryce has over 20 years of Architecture, DevOps and Development experience in both start-ups and large
              organisations within New Zealand, UK and Europe.
            </div>
          </div>

          <h5 class="top-buffer-x2">Contact</h5>
          <div class="row top-buffer">
            <div class="col-12">
              For further information, please send an email to admin@thebetterstore.net
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>

