<div class="container page">
  <div class="row top-buffer-x2">
    <div class="col-3"></div>
    <div class=col-6>
      <div class="row">
        <div class="col-12">
          <span>Please login, or sign-up for making purchases. This will allow you to view order
            progress and history.</span>
        </div>
      </div>
        <div>
          <p class="small top-buffer hint"><i>* Personal information will never be shared with 3rd parties.</i></p>
          <div class="top-buffer">
            <amplify-authenticator  [formFields]="formFields" [loginMechanisms]="['email']" onStateChange="handle">
              <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
              </ng-template>
            </amplify-authenticator>

          </div>
        </div>

    </div>
  </div>

</div>
